
RewriteOptions inherit

RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^pab\.mbugm\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.pab\.mbugm\.org$
RewriteRule ^/?$ "https\:\/\/pab\.mbugm\.org\/" [R=301,L]
